



<div class="row">
  <div class="col-md-12">
    <h1>Step : {{ currentIndex }}</h1>
    <ul *ngFor="let item of itemsService.itemsList | filteritems:currentStep; let i=index">

    <div class="card">
      <div class="card-header bg-primary text-light btn text-left" (click)="populateForm(item)">
         Item {{ i+1 }}  <a class="btn" style="color: white;" (click)="onDeleteItem(item.id)">
           <span><strong>-</strong></span>
          </a>
      </div>
      <div class="card-body">

        <li>{{ item.title }}</li>
        <li>{{ item.description }}</li>


      </div>
    </div>
  </ul>
  </div>

</div>

